/* StickyStrip.css */
.sticky-strip {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  display: flex;
  transition: bottom 0.5s;
}

.sticky-strip.show {
    bottom: 0;
  }

.section {
  height: 10px; /* Set the height as you need */
}

.blue {
  background-color: blue;
  width: 60%;
  display: flex; /* Add this to make the text inside blue visible */
  align-items: center; /* Add this to center the content vertically */
  justify-content: center;
}

.red {
  background-color: red;
  width: 20%;
}

.yellow {
  background-color:yellow;
  width: 20%;
}
